/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.custom-modalbox .mat-dialog-container {
    background-color: #c89f74;
    color: black;
    padding: 16px;
    overflow-x: hidden;
}
.color-image-modalbox .mat-dialog-container{
 overflow: hidden;
 padding: 0px;
 border: 5px solid white;
 background-color: white;
}
.mat-tooltip{
    font-size: larger;
    color: black;
}

.cdk-global-overlay-wrapper {
    display: flex;
    position: absolute;
    z-index: 1000;
    overflow: auto;
    pointer-events: auto;  
  }
//   Hide the table values e.g 50-cm
  .table-value{
      display: none !important;
  }
  .mat-button-toggle-label-content {
    line-height: 32px !important;  
}

// Step header style

.mat-step-header .mat-step-icon {
    background-color: #e78932;
    color: #fff;
}
//over rides button colors 
.button-container button 
{
  background-color: #e78932 !important; 
 
} 
.closet-wraper.mat-card{
  padding: 0px !important;
 }