

    <div class="custom-grid">
        <mat-grid-list cols="5" rowHeight="300px"  >
           
            <!-- <mat-grid-tile>
                <img #imge5 [mat-dialog-close]="imge5.src" src="assets/CpBox/mediaPrdFeat_17_vol6" alt="Interior Desginer">
            </mat-grid-tile> -->
            <mat-grid-tile>
                <img #imge5 [mat-dialog-close]="imge5.src" src="assets/CpBox/test.jpg" alt="Interior Desginer">
            </mat-grid-tile>
            <mat-grid-tile >
                <img #imge4 [mat-dialog-close]="imge4.src" src="assets/CpBox/mediaPrdFeat_26_half4.jpg" alt="interior Designer">
            </mat-grid-tile>
            <mat-grid-tile>
                <img #imge3 [mat-dialog-close]="imge3.src" src="assets/CpBox/mediaPrdFeat_27_half3.jpg" alt="interior Designer">
            </mat-grid-tile>
            <mat-grid-tile>
                <img #imge2 [mat-dialog-close]="imge2.src" src="assets/CpBox/mediaPrdFeat_28_half2.jpg" alt="interior Designer">
            </mat-grid-tile>
            <mat-grid-tile>
                <img #imge1 [mat-dialog-close]="imge1.src" src="assets/CpBox/mediaPrdFeat_29_half1.jpg" alt="interior Designer">
            </mat-grid-tile>
        </mat-grid-list>

</div>
