<!-- <h2 mat-dialog-title>Choose inner design</h2> -->
<!-- <mat-dialog-content class="mat-typography"> -->
    <div class="custom-grid">
                        <mat-grid-list cols="6" rowHeight="300px"  >
                            <mat-grid-tile  >
                                <img #imge6  [mat-dialog-close]="imge6.src" src="../../../../../assets/CpBox/mediaPrdFeat_17_vol6.jpg" alt="Closet image">
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <img #imge5 [mat-dialog-close]="imge5.src" src="../../../../../assets/CpBox/mediaPrdFeat_18_vol5.jpg" alt="Interior Desginer">
                            </mat-grid-tile>
                            <mat-grid-tile >
                                <img #imge4 [mat-dialog-close]="imge4.src" src="../../../../../assets/CpBox/mediaPrdFeat_19_vol4.jpg" alt="interior Designer">
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <img #imge3 [mat-dialog-close]="imge3.src" src="../../../../../assets/CpBox/mediaPrdFeat_20_vol3.jpg" alt="interior Designer">
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <img #imge2 [mat-dialog-close]="imge2.src" src="../../../../../assets/CpBox/mediaPrdFeat_21_vol2.jpg" alt="interior Designer">
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <img #imge1 [mat-dialog-close]="imge1.src" src="../../../../../assets/CpBox/mediaPrdFeat_22_vol1.jpg" alt="interior Designer">
                            </mat-grid-tile>
                        </mat-grid-list>
                        
                    
    </div>
