.images-card {
    border: 2px solid gold;
    mat-grid-tile-footer{
        display: flex;
        justify-content: center;
    }
  }
  mat-card{
      background-color: white;
  }
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  .nested-card{
      max-width: 250px;
  }
 img:hover{
    cursor: pointer;
    zoom: 3;
    margin: 5px;
    border: 5px solid gold;
    
 }