<div class="">
	<div class="content" fxLayout="row"  fxLayoutGap="5px">
		<div fxFlex>
			<mat-card class="images-card">
                <mat-grid-list cols="3" gutterSize="20px" rowHeight="1:1">
                    <mat-grid-tile> 
                        <img mat-card-image #imge src="../../../../assets/5.png" alt="Photo of a Shiba Inu" (click)="selectedDesign(imge.src)" name='example'>
                        <mat-grid-tile-footer>
                            <span>Kast rechts - links vrijstaand</span>
                        </mat-grid-tile-footer>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <img mat-card-image src="../../../../assets/mediaPrdFeat_1_schuine kant links_.jpg" alt="Photo of a Shiba Inu">
                        <mat-grid-tile-footer>
                            <span>Kast rechts - links vrijstaand</span>
                        </mat-grid-tile-footer>
                    </mat-grid-tile>

                    <mat-grid-tile>
                         <img mat-card-image src="../../../../assets/mediaPrdFeat_2_schuine kant links__01 uitgevuld schuin links.jpg" alt="Photo of a Shiba Inu">
                         <mat-grid-tile-footer>
                            <span>Kast rechts - links vrijstaand</span>
                        </mat-grid-tile-footer>
                    </mat-grid-tile>

                    <mat-grid-tile> <img mat-card-image src="../../../../assets/mediaPrdFeat_3_schuine kant rechts__02 schuin rechts - vrij links.jpg" alt="Photo of a Shiba Inu">
                        <mat-grid-tile-footer>
                            <span>Kast rechts - links vrijstaand</span>
                        </mat-grid-tile-footer>
                    </mat-grid-tile>

                    <mat-grid-tile> <img mat-card-image src="../../../../assets/mediaPrdFeat_4_schuine kant rechts1__01 uitgevuld schuin rechts.jpg" alt="Photo of a Shiba Inu">
                        <mat-grid-tile-footer>
                            <span>Kast rechts - links vrijstaand</span>
                        </mat-grid-tile-footer>
                    </mat-grid-tile>
                    
                    

                    <mat-grid-tile> <img mat-card-image src="../../../../assets/mediaPrdFeat_6_test webshop_02 kast links.jpg" alt="Photo of a Shiba Inu">
                        <mat-grid-tile-footer>
                            <span>Kast rechts - links vrijstaand</span>
                        </mat-grid-tile-footer>
                    </mat-grid-tile>

                    <mat-grid-tile> <img mat-card-image src="../../../../assets/mediaPrdFeat_7_test webshop_03 kast rechts.jpg" alt="Photo of a Shiba Inu">
                        <mat-grid-tile-footer>
                            <span>Kast rechts - links vrijstaand</span>
                        </mat-grid-tile-footer>
                    </mat-grid-tile>

                  </mat-grid-list>
              </mat-card>
              
		</div>
		<div fxFlex="30" class="sec2">
                <mat-card >
                    <app-side-panel></app-side-panel>
                </mat-card>
		</div>
		

	</div>

</div>