<div class="">
	<div class="content" fxLayout="row"  fxLayoutGap="5px">
		<div fxFlex>
			<mat-card class="images-card">
                <mat-grid-list cols="3" gutterSize="20px" rowHeight="1:1">
                    <mat-grid-tile> 
                        <img mat-card-image #img5 src="assets/5.png" alt="Ba Ineterior" (click)="selectedDesign(img5.src)" >
                        <mat-grid-tile-footer>
                            <span>Kast rechts - links vrijstaand</span>
                        </mat-grid-tile-footer>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <img mat-card-image #img1 src="assets/1.jpg" alt="Photo of a Shiba Inu" (click)="selectedDesign(img1.src)">
                        <mat-grid-tile-footer>
                            <span>Kast rechts - links vrijstaand</span>
                        </mat-grid-tile-footer>
                    </mat-grid-tile>

                    <mat-grid-tile>
                         <img mat-card-image #img2  src="assets/2.jpg" alt="Photo of a Shiba Inu" (click)="selectedDesign(img2.src)">
                         <mat-grid-tile-footer>
                            <span>Kast rechts - links vrijstaand </span>
                        </mat-grid-tile-footer>
                    </mat-grid-tile>

                    <mat-grid-tile> 
                        <img mat-card-image #img3 src="assets/3.jpg" alt="Photo of a Shiba Inu" (click)="selectedDesign(img3.src)">
                        <mat-grid-tile-footer>
                            <span>Kast rechts - links vrijstaand</span>
                        </mat-grid-tile-footer>
                    </mat-grid-tile>

                    <mat-grid-tile>
                         <img mat-card-image #img4 src="assets/4.jpg" alt="Photo of a Shiba Inu" (click)="selectedDesign(img4.src)">
                        <mat-grid-tile-footer>
                            <span>Kast rechts - links vrijstaand</span>
                        </mat-grid-tile-footer>
                    </mat-grid-tile>
                    
                    

                    <mat-grid-tile> 
                        <img mat-card-image #img6 src="assets/6.jpg" alt="Photo of a Shiba Inu" (click)="selectedDesign(img6.src)">
                        <mat-grid-tile-footer>
                            <span>Kast rechts - links vrijstaand</span>
                        </mat-grid-tile-footer>
                    </mat-grid-tile>

                    <mat-grid-tile>
                         <img mat-card-image #img7 src="assets/7.jpg" alt="Photo of a Shiba Inu" (click)="selectedDesign(img7.src)">
                        <mat-grid-tile-footer>
                            <span>Kast rechts - links vrijstaand</span>
                        </mat-grid-tile-footer>
                    </mat-grid-tile>

                  </mat-grid-list>
              </mat-card>
              
		</div>
		<div fxFlex="30" class="sec2">
                <mat-card >
                    <app-side-panel></app-side-panel>
                </mat-card>
		</div>
		

	</div>

</div>